<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
       <%= respuesta %><p>
       <% if(respuesta == "Incorrecto"){ %>
          <a href="/quizes/<%= quiz.id %>?fallos=<%= fallos %>"> Volver</a>
       <%} else{ %>   
          <a href="/quizes/<%= quiz.id %>"> Volver</a>
       <%}%>
        
    </p>
  </body>
</html>